# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Environments
.venv/
env/
venv/
.cache/
.pytest_cache/

# Ultralytics & Training runs
runs/
*.pt.tmp

# Data folders (raw datasets, extracted datasets)
data/extracted/
data/extracted*/
data/raw/
data/raw_*/
data/multi_package_dataset/
data/processed/multiple_parcels/
data/processed/single_parcel/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
